@import url("https://fonts.googleapis.com/css?family=Comfortaa");

html, body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  height: 100%;
  width: 100%;
  font-family: "Comfortaa", cursive;
}

#container, #game {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#game {
  z-index: 1; /* Camada de fundo */
}

/* UI por cima do jogo */
#score, #instructions, .game-over, .game-ready, .touch-controls {
    position: absolute;
    width: 100%;
    left: 0;
    z-index: 10;
    text-align: center;
    color: #334;
}

#score { top: 20px; font-size: 10vh; }
#instructions { top: 18vh; }
.game-over, .game-ready { top: 0; height: 100%; display: flex; flex-direction: column; justify-content: center; align-items: center; pointer-events: none; }

#start-button {
    pointer-events: auto; /* Botão de start é sempre clicável */
    border: 3px solid #334; 
    padding: 10px 20px; 
    background: rgba(255,255,255,0.7);
    font-size: 30px; 
    border-radius: 5px; 
    cursor: pointer;
}

/* Lógica de visibilidade */
.game-over *, .game-ready #start-button, #instructions { opacity: 0; transition: opacity 0.5s ease; }
#container.ready .game-ready #start-button, #container.playing #instructions, #container.ended .game-over * { opacity: 1; }

/* Controles de Toque */
.touch-controls {
    bottom: 5vh;
    opacity: 0;
    pointer-events: none;
}
#container.playing .touch-controls, #container.ready .touch-controls, #container.ended .touch-controls {
    opacity: 1;
    pointer-events: auto;
}

#action-button {
    width: 100px;
    height: 100px;
    background: #facc15;
    border: 3px solid #eab308;
    border-radius: 50%;
    font-size: 1.5rem; 
    font-weight: bold;
    color: #333;
    cursor: pointer;
    opacity: 0.8;
}
