# Arquivos de dependências
node_modules/
frontend/node_modules/

# Arquivos de build
frontend/dist/

# Arquivos de ambiente
.env

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Arquivos de sistema
.DS_Store
Thumbs.db
