/* General Styling */
body {
  background-image: url('https://raw.githubusercontent.com/arpit456jain/Amazing-Js-Projects/master/Candy%20Crush/utils/bg.png');
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-family: 'Montserrat', sans-serif;
  color: #85796b;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  height: 560px;
  width: 560px;
  background-color: rgba(109, 127, 151, 0.5);
  padding: 5px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5) inset, 0 1px 0 #fff;
  margin-left: 80px;
  margin-top: 50px;
}

.grid div {
  height: 70px;
  width: 70px;
  background-size: cover;
  background-position: center;
  border-radius: 5px;
  transition: transform 0.2s ease; /* Smooth animation for interactions */
}

/* Hover effect for interactivity */
.grid div:hover {
    transform: scale(1.05); /* Slightly enlarge on hover */
}

/* Scoreboard Styling */
.score-board {
  background-color: cyan;
  border-radius: 20px;
  margin-top: 20px;
  width: auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  color: #85796b;
}

h3, h1 {
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  margin: 0;
}

h1 {
  margin-top: -10px;
}
